header{
  background-color: #8e210b!important;
  padding-left: 20px;
  margin-bottom: 20px;

  .bg-dark{
    background-color: #8e210b!important;

    .logo{
      width: 80px;
      margin-right: 20px;
    }
  }
  .fa-icon {
    font-size: 30px;
    margin-right: 5px;

  }

}



.container-title{
  .testo{
    font-size: 10px;
  };
}

