
.container-title{
  .testo{
    font-size: 10px;
  };
}
.ultime-ricette{
  h3 {
    font-family: 'Homemade Apple', cursive;
    font-size: 30px;
    text-align: center;
    //text-shadow: black 2px 3px 3px;
  }
}

