<ng-template #noSlide>
  <div class="una-immagine">
    <img [src]="percorso + images[0].id + '.jpg'" [alt]="images[0].label" />
  </div>
</ng-template>
<ngb-carousel  *ngIf="images.length > 1 ; else noSlide" [interval]="5000"	[showNavigationArrows]="frecce" [showNavigationIndicators]="indicatore">
	<ng-template ngbSlide *ngFor="let image of images; let i=index">
		<div class="picsum-img-wrapper">
			<img [src]="percorso + image.id + '.jpg'" [alt]="image.label" />
		</div>
		<div class="carousel-caption">
			<h3>{{image.label}}</h3>
      <h2 *ngIf="i+1===images.length">Ultima immagine dello slide - {{i+1}} - {{images.length}}</h2>
		</div>
	</ng-template>
</ngb-carousel>
