@import '../../../shared/styles/colori.scss';
#contenitore{
  height:80vh;
  form{
  width: 30%;
  margin:auto;
  margin-top:80px;

  float:left;
  margin-left: 35%;

  button.btn.btn-primary.btn-block.mb-4 {
    background-color: $primary-color-1;
    width: 100%;
  }
}

#registrati{
  display: block;
  position: relative;
  clear: both;
  margin: auto;
  text-align: center;
  a{
    text-decoration: none;
  }
}
}

