<div class="nuova-ricetta-container">
  <div class="colonne-container">
    <div class="form-container">
      <div class="titolo">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div>
            <input type="text" id="title" name="title" placeholder="scrivi il nome della ricetta" class="form-control" formControlName="title" >
            <label for="title" class="form-label">Nome ricetta</label>
            <p class="help is-danger" *ngIf="!form.get('title').valid && form.get('title').touched">Il campo è obbligatorio</p>
          </div>
          <div>
            <input type="text" id="description" name="description" placeholder="descrizione ricetta" class="form-control" formControlName="description" >
            <label for="description" class="form-label">Il tuo nome</label>
            <p class="help is-danger" *ngIf="!form.get('description').valid && form.get('description').touched">Il campo è obbligatorio</p>
          </div>
          <div>
            <input type="text" id="image" name="image" placeholder="immagine ricetta" class="form-control" formControlName="image" >
            <label for="image" class="form-label">immagine ricetta</label>
            <p class="help is-danger" *ngIf="!form.get('image').valid && form.get('image').touched">Il campo è obbligatorio</p>
          </div>
          <div>
            <input type="text" id="difficulty" name="difficulty" placeholder="difficoltà ricetta" class="form-control" formControlName="difficulty" >
            <label for="difficulty" class="form-label">difficoltà ricetta</label>
            <p class="help is-danger" *ngIf="!form.get('difficulty').valid && form.get('difficulty').touched">Il campo è obbligatorio</p>
          </div>
          <div>
            <input type="date" id="dataPubblicazione" name="dataPubblicazione" placeholder="scrivi la data di pubblicazione" class="form-control" formControlName="dataPubblicazione" >
            <label for="dataPubblicazione" class="form-label">difficoltà ricetta</label>
            <p class="help is-danger" *ngIf="!form.get('dataPubblicazione').valid && form.get('dataPubblicazione').touched">Il campo è obbligatorio</p>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="pubblica" formControlName="pubblica">
            <label class="form-check-label" for="pubblica">Pubblicare adesso?</label>
          </div>
          <div class="registrati">
            <p class="help correct"*ngIf="form.valid" >il from è corretto</p>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Registrati</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
