#contenitore{
  height:80vh;
  form{
  width: 30%;
  margin:auto;
  margin-top:80px;

  float:left;
  margin-left: 35%;
}

#registrati{
  display: block;
  position: relative;
  clear: both;
  margin: auto;
  text-align: center;
  a{
    text-decoration: none;
  }
}
}

