<div class="container-pagination" *ngIf="pagina != 'home'">
  <div class="testo-ricette-totali">
   <strong>{{ricettePerPagina}}</strong> Ricette su un totale di <strong>{{totRicette.length}}</strong> <br> pagina corrente <strong>{{page}}</strong>
  </div>
  <ngb-pagination [collectionSize]="totRicette.length * 2 + (ricettePerPagina * 2)" [(page)]="page" aria-label="default pagination" >
  </ngb-pagination>
</div>
<div class="container-cards">
  <div class="card"  *ngFor="let recipe of ricette$ |async | slice: (page * ricettePerPagina) - ricettePerPagina : page * ricettePerPagina">
    <div class="card-image" [ngStyle]="{'background-image': 'url('+ recipe.image + ')'}" (click)="inviaTitolo(recipe.title)">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.description | slice: 0:250}}...</p>
      <div class="difficolta-card">
        <h6 class="difficulty-title">Difficoltà:</h6>
        <div class="row">
          <img [src]="percorsoDifficolta + recipe?.difficulty + '.png'" class="difficolta" alt="difficoltà">
        </div>
      </div>
      <a class="btn btn-primary" routerLink="/ricette/dettaglio/{{recipe.title}}/{{recipe._id}}">Visualizza</a>

     <!--<a class="btn btn-primary" [routerLink]="'dettaglio/'+recipe.title+'/'+recipe._id">Visualizza2</a>-->

    </div>
  </div>
</div>

<div class="container-pagination" *ngIf="pagina != 'home'">
  <ngb-pagination [collectionSize]="totRicette.length * 2 + (ricettePerPagina * 2)" [(page)]="page" aria-label="default pagination" >

  </ngb-pagination>

</div>


