
.container-cards {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 20px;

  .card {
    display: block;
    width: 23%;
    margin-left: 1.5%;
    float:left;
    margin-bottom: 20px;
  }

  .card-title {
    font-weight: bold;
    font-size: 16px;
    color:#8e210b;
  }
  .card-image{
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .card-text {
    text-align: justify;
    font-size: 14px;

  }
  .btn-primary {
    color: #fff;
    border-color: #8e210b;
    background-color: #8e210b;
  }

  .difficolta-card{
    display: flex;
  }
  .difficulty-title{
    font-weight: bold;
    position: relative;
    top: 15px;
  }
  .difficolta{
    width: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}


@media only screen and (min-width: 650px) and (max-width: 959px){
  .container-cards{
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    .card{
      width: 30%;
      margin-left: 2%;
    }
  }

}

@media only screen and (min-width: 481px) and (max-width: 649px){

  .container-cards{
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;

    .card{
      width: 40%;
      margin-left: 1.2%;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 480px){
  .container-cards{

    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    .card{
      width: 80%;
      margin-left: 2%;
    }
  }


}


