<div class="container-detail" *ngIf="ricetta!=null">
    <div class="detail-image" [ngStyle]="{'background-image': 'url('+ ricetta.image + ')'}"></div>
    <div class="detail-body">
      <h5 class="detail-title">{{ricetta.title}}</h5>
       <p class="detail-text"><span [innerHTML]="ricetta.description"></span></p>
       <div class="detail-difficulty">
        <h6 class="difficulty-title">Difficoltà:</h6>
        <div class="row">
          <img [src]="percorsoDifficolta + ricetta?.difficulty + '.png'" class="difficolta" alt="difficoltà">
        </div>
       </div>
    </div>
    <div class="detail-date">
      <p>Ricetta pubblicata il </p>
    </div>
</div>
<div *ngIf="ricetta==null" class="container-detail">
<app-errore></app-errore>
</div>
