/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
//@import "~bootstrap/"
body {
  font-family: 'Montserrat', sans-serif;
}

footer{
  height: 100px;
  width: 100%;
  background-color: #8e210b!important;

}

#main-container{
  padding: 15px;

  p{
    text-align: justify;
    font-size: 13px;
  }
}

.testo-evidenziato{
  background-color: yellow;
  width: 400px;
}
//INIZIO stili per Bootstrap Carousel
.una-immagine {
  margin-top: -19px;
  margin-bottom: 20px;
  overflow: hidden;
}

ngb-carousel.carousel.slide{
  margin-top: -19px;
  margin-bottom: 20px;

  .carousel-caption {
    top:26rem;

    h3 {
      font-family: 'Homemade Apple', cursive;
      font-size: 40px;
      text-shadow: black 2px 3px 3px;
    }
    h2{
      font-size: 16px;
      text-shadow: black 2px 2px 2px;
      font-weight: lighter;
    }
  }

  .carousel-control-prev, .carousel-control-next{
    opacity: 1!important;
    .carousel-control-prev-icon, .carousel-control-next-icon {
      width: 4rem;
      height: 4rem;
    }
  }

}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.p-password{
  display: block!important;
}

.p-inputtext{
  width: 100%!important;
}

.p-password-input{
  width: 100%!important;
}

//paginazione

.container-pagination{
  display: block;
  clear: both;
  text-align: center;
  margin-bottom: 20px;
}

.pagination{
  display: flex;
  justify-content: center;
}
.testo-ricette-totali
  {
    margin-bottom: 20px!important;
  }

  .page-link.active, .active > .page-link{
    background-color: #8e210b;
    border:solid #8e210b;
    color: white!important;
  }

  .page-item:not(:first-child) .page-link{
    color: #8e210b;
  }

.disabled{
    color: #8e210b!important;
    a{
      color: #8e210b!important
    }
  }

  .navbar-toggler{
    margin-right: 20px;
  }

